@media screen and (max-width: 1000px) {
    .navbar-nav li a::after{
        content: "";
    }
    .navbar_search_box {
        width: 60%;
        margin-right: 0;
    }
    #navbarBrandDesktop{
        display: none;
    }
    #navbarBrandMobile{
        display: block;
    }
    .image_slides {
        bottom: -140px !important;
    }
}

@media screen and (max-width: 768px) {
    .signup_form_container{
        max-width: 100%;
        padding: 15px;
        margin: 50px auto;
        border-radius: 8px;
    }
    .contact_us_form_container {
        width: 100%;
    }
    .contact_us_image{
        display: none !important;
    }
    .aboutus_container .aboutus_txt p {
        font-size: 13px;
        line-height: 2;
        padding: 16px;
    }
    .shops_cards {
        justify-content: center;
        padding: 0 10px;
    }
    #back-color {
        height: 1050px;
        border-radius: 0 0 300% 300% / 0 0 150% 150%;
    }
    #main-page-back-color {
        height: 425px;
        border-radius: 0 0 150% 150% / 0 0 150% 150%;
    }
    .search_box{
        margin: 20% auto;
    }
    .search_box #logo img{
        width: 120px;
    }
    .footer ul{
        justify-content: space-evenly;
    }
    .footer li a::after{
        content: "";
    }

    #productTitleMobile{
        display: block;
    }
    .product_detail_left h4{
        display: none;
    }
    .product_detail_content {
        padding: 4px;
        margin: 5px auto;
    }
    .image_single {
        align-items: center;
    }
    .product_detail_left {
        margin: 50px auto;
    }
    .product_detail_left p{
        justify-content: center;
        direction: ltr;
    }

    .redunndant-space{
        display: none;
    }
    .product_detail_footer #buy_btn {
        text-align: center;
        margin: 15px auto;
    }
    .product_detail_footer_icons{
        text-align: center;
        margin: 15px auto;
    }
    .product_detail_footer_icons i {
        font-size: 1.5rem;
    }
    .docs_table_header h4{
        font-size: 1.25rem;
    }
    .e-shops-card .card-header{
        text-align: center;
    }
    .e-shops-header-row{
        display: none;
    }
    .e-shops-row{
        display: none;
    }
    .e-shops-row-mobile{
        display: block;
    }
    .specs-card {
        margin: 15px;
    }
    .cards .card {
        padding: 4px;
        margin: 20px 5px;
        background: #def0fd;
        border: none;
        min-width: auto;
    }

    .PartPriceContainer .subPartPrice{
        font-size: 12px;
        width: 100%;
        text-align: left;
    }

    .product_detail_right{
        margin-bottom: 150px;
    }

    .image_slides {
        bottom: -160px !important;
        right: 100px !important;
    }
    .product_gallery{
        justify-content: center;
    }
    .ZoomContainer{
        display: none !important;
    }

    .owl-prev {
        top: 25px;
    }
    .owl-next {
        top: 25px;
    }

    .products_cards{
        justify-content: center;
    }

    .sidebar{
        position: relative;
        width: 100%;
        margin-bottom: 50px;
        z-index: 900;
    }

    #breadcrumb_nav{
        margin-top: 75px;
    }

    #noSpecsImg{
        width: 65%;
        height: 50vh;
    }

}

@media screen and (max-width: 600px) {
    .product_detail_left p span {
        font-size: 15px;
    }
    .docs_table_content td{
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .search_box #logo img{
        width: 100px;
    }
    .product_detail_left p span {
        font-size: 13px;
    }
    .cards{
        justify-content: center;
    }
    .e-shops-card .card-footer a{
        font-size: 15px;
    }
    .docs_table_content td{
        font-size: 13px;
    }
    .image_slides {
        right: 60px !important;
    }
}

@media screen and (max-width: 400px) {
    .navbar-brand{
        width: 100%;
        text-align: center;
    }
    .product_detail_left p span {
        font-size: 11px;
    }
    .image_slides {
        right: 20px !important;
    }
    .owl-prev {
        left: -45px;
    }
    .owl-next {
        right: -45px;
    }
}

@media screen and (max-width: 300px) {
    .product_detail_left p span {
        font-size: 8px;
    }

    .owl-carousel .owl-item img {
        width: 30% !important;
    }
}
